absl-py==2.0.0
acres==0.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alabaster==0.7.16
annotated-types==0.7.0
anyio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-t_zs64wy/anyio_1644482593257/work/dist
anytree==2.12.1
appdirs==1.4.4
appnope @ file:///Users/ktietz/ci_310/appnope_1643965056645/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-wbf5edig/argon2-cffi-bindings_1644845754377/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_19fv27ehgp/croots/recipe/async-timeout_1664876371666/work
attrs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_978y9aqcd7/croot/attrs_1668696180911/work
audioread==3.0.1
autograd==1.6.2
autopep8==2.3.1
autoreject==0.4.3
Babel @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_00k1rl2pus/croot/babel_1671781944131/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beartype==0.18.5
beautifulsoup4==4.12.3
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
bokeh==3.3.2
boto3==1.34.108
botocore==1.34.108
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_07078715-3ab7-4562-8d3d-d56b0eaa0f7dp504n_ny/croots/recipe/bottleneck_1657175566567/work
brotlipy==0.7.0
bsl==0.6.4
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools==5.3.2
certifi==2024.2.2
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ab19r4bji3/croot/cffi_1670423206034/work
cftime==1.6.3
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorcet==3.0.1
colorspacious==1.1.2
comm @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b19kb7be6_/croot/comm_1671231124262/work
contourpy==1.2.1
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8c_qoky_1b/croot/cryptography_1673298759921/work
customtkinter==5.2.2
cycler==0.12.1
Cython==3.0.11
cytoolz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f5nc6i6g4j/croot/cytoolz_1667465935655/work
darkdetect @ file:///home/conda/feedstock_root/build_artifacts/darkdetect_1671234766368/work
dask @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_171faabf-b047-4266-b5dd-252e45545758_3oxumz3/croots/recipe/dask-core_1658513223950/work
dataclasses-json==0.6.7
datashader==0.16.0
dcm2niix==1.0.20220715
debugpy @ file:///Users/ktietz/ci_310/debugpy_1643965577625/work
decorator==5.1.1
deepdiff==8.0.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_caeia98zfu/croots/recipe/deprecated_1659726436171/work
dicom2nifti==2.4.8
dipy==1.9.0
dmri-amico==2.0.3
dmri-commit==2.3.1
dmri-dicelib==1.1.2
docutils==0.18.1
EDFlib-Python @ file:///home/conda/feedstock_root/build_artifacts/edflib-python_1642240653521/work
eeglabio @ file:///home/conda/feedstock_root/build_artifacts/eeglabio_1666417991170/work
entrypoints @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-jb01gaox/entrypoints_1650293758411/work
et-xmlfile==1.1.0
etelemetry==0.3.1
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_43a0jaiddu/croots/recipe/python-fastjsonschema_1661368628129/work
filelock==3.15.4
flatbuffers==23.5.26
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.51.0
fooof @ file:///home/conda/feedstock_root/build_artifacts/fooof_1594723356742/work
frozenlist @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_38d0xkqt7k/croot/frozenlist_1670004509129/work
fsspec==2024.6.1
ftfy==6.2.0
fury==0.11.0
future @ file:///Users/ktietz/ci_310/future_1643965899852/work
gast==0.5.4
gensim==4.3.2
geomstats==2.7.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
graphviz==0.20.3
graspologic==3.4.1
graspologic-native==1.2.1
grpcio==1.59.2
h5io @ file:///home/conda/feedstock_root/build_artifacts/h5io_1642481976949/work
h5netcdf @ file:///home/conda/feedstock_root/build_artifacts/h5netcdf_1669197075001/work
h5py==3.11.0
holoviews==1.18.1
huggingface-hub==0.24.5
hyppo==0.4.0
idna==3.7
imagecodecs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_73_ti05f9t/croots/recipe/imagecodecs_1664561988595/work
imageio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_df129f5d-2507-46af-bcca-d005556bda6bwt868gw8/croots/recipe/imageio_1658785042814/work
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1673483481485/work
imagesize==1.4.1
immutabledict==4.2.0
importlib-metadata @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-5pqd2z6f/importlib-metadata_1648710902288/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
ipycanvas @ file:///home/conda/feedstock_root/build_artifacts/ipycanvas_1661765252852/work
ipyevents @ file:///home/conda/feedstock_root/build_artifacts/ipyevents_1626379632791/work
ipykernel @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bappucl7zp/croot/ipykernel_1671488382153/work
ipython @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bkl1d0l7u/croot/ipython_1680701883396/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipyvtklink @ file:///home/conda/feedstock_root/build_artifacts/ipyvtklink_1664716328359/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
iso8601==2.1.0
isodate==0.6.1
jedi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-f1t6hma6/jedi_1644315882177/work
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.4.2
jpype1==1.5.1
json-tricks==3.17.3
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d9tjy9j5w9/croot/jsonschema_1676558687376/work
jupyter @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c96hs6nzjt/croots/recipe/jupyter_1659349054648/work
jupyter-console @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1b69mc6zwy/croot/jupyter_console_1671541913687/work
jupyter-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c8338fkvq6/croot/jupyter_server_1671707627219/work
jupyter_client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_aen57n2aow/croot/jupyter_client_1676329104065/work
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_41npretn_h/croot/jupyter_core_1676538590424/work
jupyterlab @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8eoq8791j4/croot/jupyterlab_1675354128675/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_876kbs9ght/croot/jupyterlab_server_1672127344638/work
keras==3.2.1
kiwisolver==1.4.5
langchain-core==0.2.30
langchain-text-splitters==0.2.2
langsmith==0.1.99
lazy_loader==0.4
libclang==16.0.6
librosa @ git+https://github.com/librosa/librosa@14746316d931e331d1b6686d60bb593312b1d29e
line_profiler==4.1.3
linkify-it-py==2.0.2
llvmlite==0.42.0
locket @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cb58d7ee-eabb-4e31-8a7c-68bb73b3bb2e3lthxgi7/croots/recipe/locket_1652903118916/work
loguru @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6b2xu833vl/croot/loguru_1675318486487/work
looseversion==1.3.0
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1671013522951/work
mailchecker==6.0.5
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.0
matplotlib==3.9.0
matplotlib-inline @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f6fdc0hldi/croots/recipe/matplotlib-inline_1662014472341/work
mdit-py-plugins==0.4.0
mdurl==0.1.2
mffpy @ file:///home/conda/feedstock_root/build_artifacts/mffpy_1667614645932/work
mistune @ file:///Users/ktietz/ci_310/mistune_1643966732634/work
miutil==0.12.0
ml-dtypes==0.3.2
mne==1.8.0
mne-bids @ https://github.com/mne-tools/mne-bids/archive/refs/heads/main.zip#sha256=80978f2c0d2c465ea9961a75258776667847f58892489e649345078ae3c25d32
mne-connectivity==0.6.0
mne-features @ file:///home/conda/feedstock_root/build_artifacts/mne-features_1664622433237/work
mne-icalabel==0.6.0
mne-qt-browser==0.6.3
mne_lsl @ git+https://github.com/mne-tools/mne-lsl@db0af863c70a6f2332e0ff708ae1a77225c9bcfe
mnelab==0.9.1
mpmath==1.3.0
msgpack==1.0.8
multidict @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bd3x0mcjpv/croot/multidict_1665674237951/work
multipledispatch==1.0.0
munkres==1.1.4
mypy-extensions==1.0.0
namex==0.0.7
nbclassic @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f2l5sjrt5/croot/nbclassic_1676902898198/work
nbclient @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-08wgx75f/nbclient_1650373566605/work
nbconvert @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_36au3u9s44/croot/nbconvert_1668450648628/work
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_94781rq_cg/croot/nbformat_1670352348390/work
neo==0.12.0
nest-asyncio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6b_e0dr4lw/croot/nest-asyncio_1672387130036/work
netCDF4==1.6.5
netrd @ git+https://github.com/netsiphd/netrd@c1c85aa1517de49d335fb3c0e62cc0edbc5c161b
networkx==3.3
nibabel==5.3.2
nilearn==0.10.4
nipy==0.6.1
nipype==1.9.1
notebook @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_92n14lq88x/croot/notebook_1668179891126/work
notebook_shim @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f8mr1gjfb7/croot/notebook-shim_1668160580414/work
numba==0.59.1
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_98sxk8lloi/croot/numexpr_1668713874222/work
numpy==1.26.0
numpydoc==1.2.1
oauthlib==3.2.2
opencv-python==4.10.0.84
openpyxl==3.1.0
opt-einsum==3.3.0
optree==0.11.0
orderly-set==5.2.2
orjson==3.10.7
ortools==9.10.4067
packaging==24.0
pactools==0.3.1
pandas==2.2.2
pandas-flavor==0.6.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel==1.3.5
param==2.0.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
patsy==0.5.6
pendulum==3.0.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phonenumbers==8.13.37
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.3.0
pingouin==0.5.5
platformdirs==4.2.2
ply==3.11
pooch==1.8.1
POT==0.9.3
prettytable==3.9.0
probeinterface==0.2.16
progressbar2==4.2.0
prometheus-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_25sgeyk0j5/croots/recipe/prometheus_client_1659455103277/work
prompt-toolkit @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0blbsngvis/croot/prompt-toolkit_1672387317724/work
propcache==0.2.0
protobuf==5.27.1
prov==2.0.1
psmpy==0.3.13
psutil==5.9.8
psychopy==2024.1.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
puremagic==1.28
py5==0.10.3a1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybv @ file:///home/conda/feedstock_root/build_artifacts/pybv_1666629491045/work
pycodestyle==2.12.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct==0.5.0
pydantic==2.8.2
pydantic_core==2.20.1
pydicom==2.4.1
pydot==3.0.2
pyEDFlib==0.1.39
pygame @ file:///Users/runner/miniforge3/conda-bld/pygame_1677570936870/work
pyglet==2.0.14
pygltflib==1.16.2
Pygments==2.17.2
pylsl==1.16.1
pymatreader @ file:///home/conda/feedstock_root/build_artifacts/pymatreader_1648728548181/work
PyMuPDF==1.24.4
PyMuPDFb==1.24.3
pynndescent==0.5.11
pyobjc==10.3.2
pyobjc-core==10.3.2
pyobjc-framework-Accessibility==10.3.2
pyobjc-framework-Accounts==10.3.2
pyobjc-framework-AddressBook==10.3.2
pyobjc-framework-AdServices==10.3.2
pyobjc-framework-AdSupport==10.3.2
pyobjc-framework-AppleScriptKit==10.3.2
pyobjc-framework-AppleScriptObjC==10.3.2
pyobjc-framework-ApplicationServices==10.3.2
pyobjc-framework-AppTrackingTransparency==10.3.2
pyobjc-framework-AudioVideoBridging==10.3.2
pyobjc-framework-AuthenticationServices==10.3.2
pyobjc-framework-AutomaticAssessmentConfiguration==10.3.2
pyobjc-framework-Automator==10.3.2
pyobjc-framework-AVFoundation==10.3.2
pyobjc-framework-AVKit==10.3.2
pyobjc-framework-AVRouting==10.3.2
pyobjc-framework-BackgroundAssets==10.3.2
pyobjc-framework-BrowserEngineKit==10.3.2
pyobjc-framework-BusinessChat==10.3.2
pyobjc-framework-CalendarStore==10.3.2
pyobjc-framework-CallKit==10.3.2
pyobjc-framework-CFNetwork==10.3.2
pyobjc-framework-Cinematic==10.3.2
pyobjc-framework-ClassKit==10.3.2
pyobjc-framework-CloudKit==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-Collaboration==10.3.2
pyobjc-framework-ColorSync==10.3.2
pyobjc-framework-Contacts==10.3.2
pyobjc-framework-ContactsUI==10.3.2
pyobjc-framework-CoreAudio==10.3.2
pyobjc-framework-CoreAudioKit==10.3.2
pyobjc-framework-CoreBluetooth==10.3.2
pyobjc-framework-CoreData==10.3.2
pyobjc-framework-CoreHaptics==10.3.2
pyobjc-framework-CoreLocation==10.3.2
pyobjc-framework-CoreMedia==10.3.2
pyobjc-framework-CoreMediaIO==10.3.2
pyobjc-framework-CoreMIDI==10.3.2
pyobjc-framework-CoreML==10.3.2
pyobjc-framework-CoreMotion==10.3.2
pyobjc-framework-CoreServices==10.3.2
pyobjc-framework-CoreSpotlight==10.3.2
pyobjc-framework-CoreText==10.3.2
pyobjc-framework-CoreWLAN==10.3.2
pyobjc-framework-CryptoTokenKit==10.3.2
pyobjc-framework-DataDetection==10.3.2
pyobjc-framework-DeviceCheck==10.3.2
pyobjc-framework-DictionaryServices==10.3.2
pyobjc-framework-DiscRecording==10.3.2
pyobjc-framework-DiscRecordingUI==10.3.2
pyobjc-framework-DiskArbitration==10.3.2
pyobjc-framework-DVDPlayback==10.3.2
pyobjc-framework-EventKit==10.3.2
pyobjc-framework-ExceptionHandling==10.3.2
pyobjc-framework-ExecutionPolicy==10.3.2
pyobjc-framework-ExtensionKit==10.3.2
pyobjc-framework-ExternalAccessory==10.3.2
pyobjc-framework-FileProvider==10.3.2
pyobjc-framework-FileProviderUI==10.3.2
pyobjc-framework-FinderSync==10.3.2
pyobjc-framework-FSEvents==10.3.2
pyobjc-framework-GameCenter==10.3.2
pyobjc-framework-GameController==10.3.2
pyobjc-framework-GameKit==10.3.2
pyobjc-framework-GameplayKit==10.3.2
pyobjc-framework-HealthKit==10.3.2
pyobjc-framework-ImageCaptureCore==10.3.2
pyobjc-framework-InputMethodKit==10.3.2
pyobjc-framework-InstallerPlugins==10.3.2
pyobjc-framework-InstantMessage==10.3.2
pyobjc-framework-Intents==10.3.2
pyobjc-framework-IntentsUI==10.3.2
pyobjc-framework-IOBluetooth==10.3.2
pyobjc-framework-IOBluetoothUI==10.3.2
pyobjc-framework-IOSurface==10.3.2
pyobjc-framework-iTunesLibrary==10.3.2
pyobjc-framework-KernelManagement==10.3.2
pyobjc-framework-LatentSemanticMapping==10.3.2
pyobjc-framework-LaunchServices==10.3.2
pyobjc-framework-libdispatch==10.3.2
pyobjc-framework-libxpc==10.3.2
pyobjc-framework-LinkPresentation==10.3.2
pyobjc-framework-LocalAuthentication==10.3.2
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.3.2
pyobjc-framework-MailKit==10.3.2
pyobjc-framework-MapKit==10.3.2
pyobjc-framework-MediaAccessibility==10.3.2
pyobjc-framework-MediaLibrary==10.3.2
pyobjc-framework-MediaPlayer==10.3.2
pyobjc-framework-MediaToolbox==10.3.2
pyobjc-framework-Metal==10.3.2
pyobjc-framework-MetalFX==10.3.2
pyobjc-framework-MetalKit==10.3.2
pyobjc-framework-MetalPerformanceShaders==10.3.2
pyobjc-framework-MetalPerformanceShadersGraph==10.3.2
pyobjc-framework-MetricKit==10.3.2
pyobjc-framework-MLCompute==10.3.2
pyobjc-framework-ModelIO==10.3.2
pyobjc-framework-MultipeerConnectivity==10.3.2
pyobjc-framework-NaturalLanguage==10.3.2
pyobjc-framework-NetFS==10.3.2
pyobjc-framework-Network==10.3.2
pyobjc-framework-NetworkExtension==10.3.2
pyobjc-framework-NotificationCenter==10.3.2
pyobjc-framework-OpenDirectory==10.3.2
pyobjc-framework-OSAKit==10.3.2
pyobjc-framework-OSLog==10.3.2
pyobjc-framework-PassKit==10.3.2
pyobjc-framework-PencilKit==10.3.2
pyobjc-framework-PHASE==10.3.2
pyobjc-framework-Photos==10.3.2
pyobjc-framework-PhotosUI==10.3.2
pyobjc-framework-PreferencePanes==10.3.2
pyobjc-framework-PushKit==10.3.2
pyobjc-framework-Quartz==10.3.2
pyobjc-framework-QuickLookThumbnailing==10.3.2
pyobjc-framework-ReplayKit==10.3.2
pyobjc-framework-SafariServices==10.3.2
pyobjc-framework-SafetyKit==10.3.2
pyobjc-framework-SceneKit==10.3.2
pyobjc-framework-ScreenCaptureKit==10.3.2
pyobjc-framework-ScreenSaver==10.3.2
pyobjc-framework-ScreenTime==10.3.2
pyobjc-framework-ScriptingBridge==10.3.2
pyobjc-framework-SearchKit==10.3.2
pyobjc-framework-Security==10.3.2
pyobjc-framework-SecurityFoundation==10.3.2
pyobjc-framework-SecurityInterface==10.3.2
pyobjc-framework-SensitiveContentAnalysis==10.3.2
pyobjc-framework-ServiceManagement==10.3.2
pyobjc-framework-SharedWithYou==10.3.2
pyobjc-framework-SharedWithYouCore==10.3.2
pyobjc-framework-ShazamKit==10.3.2
pyobjc-framework-Social==10.3.2
pyobjc-framework-SoundAnalysis==10.3.2
pyobjc-framework-Speech==10.3.2
pyobjc-framework-SpriteKit==10.3.2
pyobjc-framework-StoreKit==10.3.2
pyobjc-framework-Symbols==10.3.2
pyobjc-framework-SyncServices==10.3.2
pyobjc-framework-SystemConfiguration==10.3.2
pyobjc-framework-SystemExtensions==10.3.2
pyobjc-framework-ThreadNetwork==10.3.2
pyobjc-framework-UniformTypeIdentifiers==10.3.2
pyobjc-framework-UserNotifications==10.3.2
pyobjc-framework-UserNotificationsUI==10.3.2
pyobjc-framework-VideoSubscriberAccount==10.3.2
pyobjc-framework-VideoToolbox==10.3.2
pyobjc-framework-Virtualization==10.3.2
pyobjc-framework-Vision==10.3.2
pyobjc-framework-WebKit==10.3.2
PyOpenGL==3.1.1a1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.1.2
pyprep @ file:///home/conda/feedstock_root/build_artifacts/pyprep_1647505053171/work
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyQt6==6.4.2
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.1
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.13
pyqtgraph==0.13.7
pyriemann==0.5
pyrsistent @ file:///Users/ktietz/ci_310/pyrsistent_1643962172005/work
pyserial==3.5
PySide6==6.6.3.1
PySide6_Addons==6.6.3.1
PySide6_Essentials==6.6.3.1
PySocks @ file:///Users/ktietz/ci_310/pysocks_1643961536721/work
python-benedict==0.33.2
python-dateutil==2.9.0.post0
python-fsutil==0.14.1
python-gdcm==3.0.22
python-picard @ file:///home/conda/feedstock_root/build_artifacts/python-picard_1634751290466/work
python-slugify==8.0.4
python-utils==3.6.1
pytz==2024.1
pyunlocbox==0.5.2
pyvista @ file:///home/conda/feedstock_root/build_artifacts/pyvista_1677126418023/work
pyvistaqt @ file:///home/conda/feedstock_root/build_artifacts/pyvistaqt_1675792634282/work
pyviz_comms==3.0.0
PyWavelets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1c8l46qov7/croot/pywavelets_1670425183661/work
pyxdf==1.16.8
PyYAML @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8dd_9u21zz/croot/pyyaml_1670514759576/work
pyzmq @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8599562e-e9e5-443b-91db-7f7c0ba6aad3mrdoyvz4/croots/recipe/pyzmq_1657724196154/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qtconsole @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_17u9pzjaj7/croot/qtconsole_1674008447244/work
QtPy==2.4.1
quantities==0.14.1
rdflib==6.3.2
regex==2024.7.24
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.3
rich==13.7.1
rsa==4.9
s3transfer==0.10.1
safetensors==0.4.4
scikit-image @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2dnc0r7yu5/croot/scikit-image_1669241742476/work
scikit-learn==1.5.0
scikit-posthocs==0.9.0
scipy==1.12.0
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1674625672250/work
seaborn==0.13.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentence-transformers==3.0.1
serial==0.0.97
setuptools-scm==8.1.0
shap==0.42.1
shiboken6==6.6.3.1
simplejson==3.19.3
sip @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fbqiv4bzwo/croots/recipe/sip_1659012372184/work
six==1.16.0
skada @ git+https://github.com/scikit-adaptation/skada@5e530c7205478289d87dd02bcb5735c1f89f9ca7
slicer==0.0.7
smart-open==7.0.4
sniffio @ file:///Users/ktietz/ci_310/sniffio_1643964335533/work
snowballstemmer==2.2.0
soundfile==0.12.1
soupsieve @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d2jpk7eoyp/croot/soupsieve_1666296398381/work
soxr==0.3.7
Sphinx==2.0.1
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
spikeinterface==0.97.0
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
stackprinter==0.2.12
statsmodels==0.14.2
sympy==1.13.3
tables @ file:///Users/runner/miniforge3/conda-bld/pytables_1666850075429/work
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
tensorpac==0.6.5
termcolor==2.3.0
terminado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fcfvyc0an2/croot/terminado_1671751835701/work
text-unidecode==1.3
tf_keras==2.16.0
threadpoolctl==3.5.0
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
time-machine==2.14.1
tinycss2 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fcw5_i306t/croot/tinycss2_1668168825117/work
tokenizers==0.19.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0e5ffbf-5cf1-45be-8693-c5dff8108a2awhthtjlq/croots/recipe/tomli_1657175508477/work
toolz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_362wyqvvgy/croot/toolz_1667464079070/work
torch==1.12.1
tornado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a61b4xoie9/croots/recipe/tornado_1662061692951/work
tqdm==4.66.4
traitlets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6301rd5qbe/croot/traitlets_1671143894285/work
traits==6.4.3
transformers==4.44.0
transforms3d==0.4.2
trx-python==0.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.2
umap==0.1.1
umap-learn==0.5.6
urllib3==2.2.1
vtk==9.2.6
wcwidth==0.2.13
webencodings==0.5.1
websocket-client @ file:///Users/ktietz/ci_310/websocket-client_1643972661291/work
Werkzeug==3.0.1
widgetsnbextension @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-ppn8qoma/widgetsnbextension_1645010005457/work
wrapt @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_37a5af2b-c563-4ec6-9258-35772bae6a6agcs4j3hx/croots/recipe/wrapt_1657814428573/work
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1676499749829/work
xarray==2024.1.1
xgboost==1.7.5
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
xyzservices==2023.10.1
yarl==1.17.0
zipp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8cv5zqoqed/croot/zipp_1672387131277/work
